@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="text-align:center;margin-right: 100px;margin-left: 100px;padding-bottom: 50px;padding-top: 30px	; color: #4caf50;">
    <h1>EAD Project</h1>

    
    <h2>Name    : <span style="color: #4caf50"> Ramis Raza</span>  </h2>
    <h2>Roll No : <span style="color: #4caf50">BITF17A517</span></h2>
    <h2>Email   : bitf17a517@pucit.edu.pk</h2>
    <hr />
    <p style="color:black;">
        From the first smartphone I owned, I've always been an Android user. Much to the chagrin of nearly all my friends and peers, I really do like the operating system and my Samsung phone. However, I do have to admit the world of tech accessories is made for iPhone users and the number and variety of options are tipped in their favor.

        If you have an Android phone user in your life who you generally regard with suspicion and is already causing you a lot of stress in the gift-hunting search, fear not — and just be glad they don't have a Windows phone. We're here to help you find some cool Android accessories they'll appreciate. Some are specially optimized for Andro
        id devices, while others are just great accessory gifts for all types of phones. 
        <br />You can spend your money on all sorts of bizarre gadgets, from Bluetooth-enabled toothbrushes to toasters that print your selfie on your breakfast. But there’s only a handful of tech accessories that we really can’t live without.

Here is TIME’s list of 20 types of gadgets that pretty much everybody should have. We’ve also included a few models for each category that we’ve used and we like.

Good wireless headphones<br />
    
        Wireless headphones are finally getting affordable while delivering quality sound and being comfortable to wear. Check out Apple’s new BeatsX or the Jaybird Freedom Wireless, both of which are solid, workout-friendly options. If you prefer on-ear headphones, try the Jabra Move Wireless.

        A pair of cheap earbuds<br />
        The latest smartphones can pump out pretty great sound, but they can’t hold a candle to the audio quality from a dedicated Bluetooth speaker. We like the rugged UE Roll 2 for the beach and the pool, but the Bose SoundLink Mini II offers better sound for your living room or kitchen. If audio fidelity isn’t as important to you, you might also consider going with the Amazon Echo, which does double duty as a music speaker and an Internet-connected, voice-activated assistant.

        A portable smartphone charger


    
    </p>

    <hr />

</div>

